body {
  background-color: black;
}

p,
label,
h1,
h2 {
  color: white;
  text-align: center;
}
.container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-around;
}
.button {
  background: none;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.button:hover {
  background-color: rgba(255, 255, 230, 0.5);
}
#spotify_b:hover {
  background-color: rgba(0, 128, 0);
}
#yt_music_b:hover {
  background-color: rgba(128, 0, 0);
}
/*playlist space-around is so that thier is a gap between*/
.playlists {
  display: flex;
  justify-content: space-around;
}
.playlist_list {
  background-color: aliceblue;
}
.new_songs_list {
  background-color: aliceblue;
}
