*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eadbc8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background-color: white;
    border-radius:1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width :100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}
.screen{
    display: none;
    padding: 2rem;
    text-align: center;

}
.screen.active{
    display:block;
}
#start-screen h1 {
    color: #e86a33;
    margin-bottom : 20px;
    font-size: 2.5rem;
}
#start-screen p {
    color: #666;
    margin-bottom : 30px;
    font-size: 1.1 rem;
}
.quiz-header{
    margin-bottom:2rem;
}
#question-tex{
    color: black;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.4;
}
.quiz-info{
    display:flex;
    justify-content: space-between;
    color:#666;
    margin-bottom: 10px;

}
.answers-container {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 25px;

}
.answer-btn{
    background-color: white;
    color:#333;
    border: 2px solid #eadbc8;
    border-radius: 1-px;
    padding: 1rem;
    cursor:pointer;
    text-align:left;
    transition: all 0.3s ease;

}
.answer-btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;

}
.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color:#28a745;
}
.answer-btn.incorrect{
    background-color:#e6fff0;
    border-color:#ffdb;
    color:#dc3545;
}
.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px
}
.progress{
    height: 100%;
    background-color:#dc3545;
    width: 0%;
    transition:width 0.3s ease;
}
#restult-screen h1{
    color:#e86a33;
    margin-bottom:30px;
}
.restult-info{
    background-color: #f8f0e5;
    border-radius:10px;
    padding: 20px;
    margin-bottom: 30px;
}
.result-info p {
    font-size: 1.2rem;
    color:#333;
    margin-bottom:1reml;
}
.result-message{
    font-size: 1.5 rem;
    font-weight:600;
    color:#e86a33;
}
button{
    background-color:#e86a33;
    color: whtie;
    border: white ;
    border: non;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s ease
}
button:hover{
    background-color:#d45b28
}
/*responsieve design*/
@media (max-width:500px){
    /*when it is 500px or below then the style changes*/
    .screen{
        padding:1rem;
    }
    #start-screen{
        font-size:2rem;
    }
    
}